@model CodingFinger.Models.Employer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerDegree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployerDegree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
